@charset "utf-8";

@import url(util.css);
@import url(animate.min.css);

/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/* reset with normalize */
body,input,textarea,select,button,table{font-size:20px;font-family:'Noto Sans CJK KR','Noto Sans KR','Lato','나눔 바른 고딕','맑은 고딕','Malgun Gothic','돋움','Apple SD Gothic Neo',sans-serif}
body{-ms-word-break:break-all;word-break:break-all}
a{text-decoration:none;color:#282828}
a:hover,a:hover:focus,a:active{color:#282828}
a,button,input,textarea{-webkit-transition:border-color .4s,background .4s,color .4s,opacity .4s;transition:border-color .4s,background .4s,color .4s,opacity .4s}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
li{list-style:none}
em{font-style: normal}
address{font-style:normal}
table{width:100%}
a.blankLink{cursor:auto}

/* common */
.ov-hidden{overflow: hidden}
.blank{background:url(../img/blank.png)}
.pr{position:relative}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.d_iblock{display:inline-block !important}
.ver_mid{vertical-align:middle !important}
.fl{float: left}
.fr{float:right}
.font-lt{font-family: 'Lato'}
.f-blk{color:#222 !important}
.f-vlt{color:#556ECC !important}

/* Grid */
#index .w1200{max-width:800px !important}
.w1200{max-width:1200px;margin:0 auto}
.w1022{max-width: 1022px;margin:0 auto}
.w860{max-width:860px;margin:0 auto}
.w200{width:200px}


/* icon */
[class^=icon-]{display:inline-block;overflow:hidden;margin:0;padding:0;border:0;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat;font-size:0;line-height:0;text-decoration:none;vertical-align:middle;text-indent:-1000em;background-repeat: no-repeat !important}
.icon-logo{width:219px;height:57px;background:url(../img/logo.png)}
.icon-hello{width:350px;height:33px;background:url(../img/hello.png);background-size:100% auto! important}
.ic-more{display: inline-block;width:20px;height:2px;background:#fff;transform: rotate(0deg);transition: all .4s}
.ic-more.vertial{transform: rotate(-90deg)}
.ic-more.v2{width:24px;height:3px}
[class^=icon-pb]{background-image: url(../img/pb01.png);background-position: 0 0; width:118px;height:118px;}
.icon-pb-i2{background-position:-128px 0}
.icon-pb-i3{background-position:-256px 0}
.icon-pb-i4{background-position:100% 0}
.icon-arrow-blk{width:16px;height:16px;background:url(../img/arrow_blk.png);background-size:100% auto;margin:12px 0 0 3px;opacity: .8}
.icon-tell-fill{width:11px;height:11px;margin-right:3px;background:url(../img/icon_tellFill.png);background-size:100% auto }

/* modal */
.modal .close{ position:relative;z-index:999; font-size:48px; color:#FFF; opacity:1}
.modal-dialog{ width:90%; max-width:1000px; margin:10% auto}
.modal-header,
.modal-body{ min-height:0; padding:0; border:0}
.modal-content{ border:0; border-radius:0; box-shadow:none; background:none}
.ekko-lightbox .modal-title{ display:none}
.ekko-lightbox .close{position:fixed;top:0; right:0;}
#modalView{ color:#FFF}
#modalView h3{ margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #FFF}

/* layout */
#container{}
#ft{padding:1em 0 3em;background:#f8f8f8;text-align: center;font-family:'Lato';font-size:10px;color:#b1b1b1;text-transform: uppercase;letter-spacing: .09em}

/* header */
#hd.index{height:0;border:0}
#hd{z-index:30;top:0;left:0;right:0; height:54px; background:#fff;border-bottom:1px solid #d2d2d2}
#hd .w1200{position: relative;height:54px;}
#hd.sub{position: relative;background:#6786ff}
#hd.sub .fl p{padding-top:11px;font-weight: 300; font-family: 'Lato'; font-size:20px;color:#fff}
#hd.sub .master-info{position: absolute;top:0;right:0}
#hd.sub .master-info a{position: absolute;top:0;right:0;width:52px;height:53px;background-color:#4568E9;background-image: url(../img/icon_mail.png);background-repeat: no-repeat;background-position:50% 50%;}
#hd.sub .master-info a:hover{background-color:#415EC9;}
#hd.sub .master-info .tel{padding:16px 70px 0 0;font-family: 'Lato';font-size:12px;color:#fff;letter-spacing: .07em}

#gnb{ float:left; margin:10px 0 0 30px}
#gnb a{display:block;font-size:18px; line-height:40px; text-align:center;}
#gnb .on,#gnb a:hover,#gnb a:focus{color:#f38a2c !important}
#gnb>ul>li{ position:relative;float:left; width:120px;}
#gnb>ul>li>a{ padding-bottom:25px}
#gnb ul ul{ display:none; position:absolute;top:100%; width:100%;padding:5px; border:1px solid #2d2d2d; border-radius:0 0 3px 3px;background:#000; background:rgba(0,0,0,.8)}
#gnb ul ul li+li{ border-top:1px solid #2d2d2d}
#gnb ul ul a{;color:#FFF}
#gnb ul ul a.on{ background:rgba(0,0,0,.6)}

::-moz-selection {
   background: #ffe04e;
   color: #222;
}
::selection {
   background: #ffe04e;
   color: #222;
}
/*----------- mobile -----------*/
#mNav{position:relative; display:none;overflow-x: hidden;overflow-y: auto;-webkit-overflow-scrolling:touch;position:fixed;top:0;bottom:0;width:285px;z-index:100;border-right:1px solid #e1e1e1;background:#fff;box-shadow: 2px 2px 2px 2px rgba(0,0,0, .05)}
#mNav .top{padding:22px 40px}
#mNav .icon-logo{width:92px;height:24px;background-size:100% auto}
#mNav>ul>li>a{font-weight:bold;font-family: 'Lato'}
#mNav ul a{ display:block;padding:10px 40px;font-weight:400;font-size:15px; line-height:2em;color:#454545}
#mNav .on{ color:#454545}
#mNav .caret{ float:right; margin-top:18px; border-width:8px; color:#FFF}
#mNav ul ul{ display:none;padding:.7em 0;background:#f7f7f7}
#mNav ul ul a{font-size:14px;padding:.5em 1em .5em 4em !important; line-height:1.7em;letter-spacing:-.055em; color:#666}
#mNav ul ul a.on{font-weight: bold}
#mNav ul ul a.on, #mNav ul ul a:hover{color:#556ECC}
#mNav .designer-info{position: absolute;left:40px;bottom:3em}
#mMenu{ display:none;position:absolute;top:0; right:5px}
#mMenu a{ float:left; width:45px; height:40px;}

#wrap{min-width:1300px;padding-left:0;transition: all .5s}
body.overflow #wrap{padding-left:280px}
body.overflow #ft{background:#2f2f2f}

/* index */
#index #px1{padding:70px 0 80px 0}
#index #px1 p{font-weight:300;font-size:18px;line-height:1.7em; color:#333}
#index #px1 .designer-info{padding:24px 0 40px 0}
.designer-info p, .designer-info p a{font-weight:500 !important;line-height:2em !important;font-size:10px !important;color:#808080 !important;font-family: 'Lato'}
.designer-info p em{text-decoration: underline}
#index #px2{background:#fbfbfb;padding:40px 0 30px}
#index #px2 li{margin-bottom: .8em}
#index #px2 li>div.more{border:0;background:#f4f4f4;padding:16px 45px 18px;text-align: center;font-size:16px;color:#999}
#index #px2 li:hover div.more{color:#666;box-shadow: none;background:#eee}
#index #px2 li>div{position:relative; padding:22px 45px 38px;border:1px solid #e5e8eb;border-radius:3px; background:#fff}
#index #px2 li span{padding-left:3px;letter-spacing:.05em; font-family: 'Lato';font-size:12px;color:#222 !important}
#index #px2 li ul{padding:20px 0 18px}
#index #px2 li ul li{float:left;font-size:12px;font-family:'Lato';background:#eaedef;margin-right:8px;padding:2px 10px 3px;border-radius: 4px}
#index #px2 li span em{padding-left:10px;color:#999 !important}
#index #px2 li p{padding-top:5px;font-weight:500; font-size:35px;letter-spacing:-.055em; color:#222}
#index #px2 li p+p{padding-top:5px;font-weight:300;font-size:15px;color:#666}
#index #px2 li i{position: absolute;top:50%;right:65px}
#index #px2 li a{position: absolute;top:0;right:0;bottom:0;left:0}
#index #px2 li:hover i.vertical{transform: rotate(-90deg)}
#index #px2 li:hover div{box-shadow: 5px 5px 8px 2px rgba(0,0,0, .05)}
.nav-tab{border-top:1px solid #eee;border-bottom:1px solid #ddd}
.nav-tabs{position: relative;border:0}
.nav-tabs>a{position: absolute;right:0;width:48px;height:49px;background:#6786ff}
.nav-tabs>a i{transition: all .4s}
.nav-tabs>a i{position: absolute;top:25px;}
.nav-tabs>a:hover i.lst.i1{top:15px}
.nav-tabs>a:hover i.lst.i2{top:31px}
.nav-tabs>a i{position: absolute;top:23px;left:12px}
.nav-tabs>a:hover i.vertical{transform: rotate(-90deg)}

.nav-tabs>li>a{border-radius: 0; font-family: 'Lato'; font-size:16px;color:#999}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{border:0;border-bottom:2px solid #6786ff;background:none !important;color:#6786ff}
.nav>li>a{padding:13px 40px 13px 10px}

/* sub */
.img-area{padding-top:20px}
.sub-page section+section{padding:4em 0;background:url(../img/sect_div.png);background-position: 50% 100%;background-repeat: no-repeat;}
.sub-page{padding-top:2em;line-height:1.6em}
.sub-page p{color:#666;font-weight:300;word-break: keep-all}
.sub-page .con-info {margin:10px 0 60px}
.sub-page .con-info p.data{padding-bottom:10px;font-size:15px !important;color:#222}
.sub-page .con-info p span{padding-left:7px;color:#999}
.sub-page .con-info ul.tag {padding:25px 0 20px;border-bottom:1px solid #ddd}
.sub-page .con-info ul.tag li{float:left;margin-right:8px;padding:6px 16px 7px;border-radius:5px; background:#eaedef;font-family:'Lato';line-height:1em !important;font-size:14px;color:#222}
.sub-page .con-info ul+p{clear: both;margin-top:20px}
.sub-page .con-info h3{font-size:2.1em;color:#222}
.sub-page .con-info dl+p{font-size:20px;color:#333}
.sub-page .con-info li+li{padding-top:.7em}
.sub-page .con-info li:first-child{line-height: 1.1em; font-size:15px;color:#999}
.sub-page .con-info li a{font-size:20px;color:#222}
.sub-page .con-info .img-area{padding-top:60px}
.sub-page .con-info dl{margin:1em 0}
.sub-page .con-info dt, .sub-page .con-info dd{padding:.2em 0;font-size:16px}
.sub-page .con-info dt{float:left;width:100px;font-weight:500 !important;font-family: 'Lato';color:#222}
.sub-page .con-info .index{margin-top:30px;padding-left:35px;border-left:4px solid #222}
.sub-page h4{font-size:24px;font-weight: bold;color:#222}
.sub-page h4+p{padding-top:10px}
.sub-page h5{padding-bottom:7px;font-size:20px;color:#222;line-height:1.4em}
.sub-page h4+h5{padding-top:25px}
.sub-page #px2{padding-top:1em}
.img-area+span{display: block;padding-top:9px;text-align: center;font-size:15px;color:#999}
.sub-page .img-area+h5{padding-top:50px}
.con-det .h6{margin-bottom:5px;font-weight:500;font-size:18px;color:#222;}
.con-det .h6+p{padding-left:17px}
.inc-con p{font-size:18px}
.tb-type{display: table}
.tb-type>div{display: table-row;padding:1em 0}
.tb-type>div>div{display: table-cell;vertical-align: middle;padding:1.7em 0}
.tb-type>div>div:first-child{width:310px}
.tb-type>div>div+div{padding-left:45px}
.tb-type p{font-size:18px;white-space:pre-line;word-break: keep-all}
.page-move{position: relative;width:100%;height:62px;margin-top:5em;background:#2f2f2f}
.page-move>div{display: inline-block;position: absolute;top:25px;left:50%;width:1px;height:11px;background:#676767}
.page-move>div>a{position:absolute;top:-8px;width:auto;white-space: nowrap;color:#b3b3b3;font-size:14px;}
.page-move>div>a:hover{text-decoration: none;color:#fff}
.page-move>div>a span{margin:0 1em;font-family:'Lato'; color:#eee}
.page-move>div>a:hover span{color:#999}
.page-move>div>a.blankLink span, .page-move>div>a.blankLink:hover span{color:#666 !important} 
.page-move>div .i1{right:0;}
.page-move>div .i2{left:0px;}
.design-tit h3,.design-tit p{color:#fff !important}
.design-tit h3{padding-bottom:12px;font-size:46px;font-weight: bold;letter-spacing: -.055em}
.design-tit p{margin-bottom:15px} 
.design-tit.v2 h3, .design-tit.v2 p{color:#1a1a1a !important}
.design.sect-tit h5{border-top:5px solid #fff;padding:10px 0 2px;font-family: 'Lato'; font-weight: bold;font-size:20px;color:#fff}
.design.sect-tit div{font-weight: 300;font-size:16px; color:#eee;line-height: 1.5em}
.design.sect-tit div+div{padding-top:15px}
.design.sect-tit.v2 div{color:#151515}
.design.sect-tit.v2 h5{border-color:#151515;color:#151515}
.btn-link{display: inline-block;padding:8px 17px;background:#e52000;width:190px;color:#fff;font-size:16px}
.btn-link:hover{background:#222;color:#fff}
#dmp #px1 .img-area+span{margin-top:-30px}
.ux-page .w1200, .ux-page .w1022{max-width:900px}
.polaris-gif {position: relative}
.polaris-gif span{position: absolute;width:50%;left:50%;margin-top:46%;margin-left:-25%}
#cloudZ{background:url(../img/bg_cloudz.jpg)}
#cloudZ .img-area{margin-top:45px;box-shadow:12px 38px 17px 9px rgba(0,0,0, .2)}
#kiosk{background:#f6f6f6}
.sub-page.design section{background-size: cover;background-position: 50% 50%}
#pulmuone #px1{padding:4em 0 8em; background-image:url(../img/bg_pulmuone01.png)}
#pulmuone #px2{padding:4em 0 5em; background-image:url(../img/bg_pulmuone02.png)}
#pulmuone #px3{height:900px; background-image:url(../img/bg_pulmuone03.png);background-attachment: fixed}
#pulmuone #px3 .img-area{padding-top:10em}
#pulmuone #px4{padding:5em 0 ;background-image:url(../img/bg_pulmuone04.png)}
#pulmuone #px5{height:900px;background-size:100% auto !important;background-image:url(../img/bg_pulmuone05.png)}
#pulmuone #px6{padding:5em 0 3em;background:#fff}
#pulmuone #px6 .i1{margin-right:-50px}
#pulmuone #px6 .i2{margin-top:5em;margin-left:-50px}
#hd.cloudz{border:0;background:#2f2f2f}
#hd.petportal{border:0;background:#fc3669}

#petPortal #px1{padding:5em 0 20em;background-image:url(../img/bg_pet01.png)}
#petPortal #px1 p{font-weight:200;font-size:40px;color:#fff;letter-spacing: -.055em;line-height:1.3em}
#petPortal #px1 h3+p{font-size:30px !important}
#petPortal #px1 b{font-weight: 400}
#petPortal h5{padding:30px 0;font-family: 'Lato';font-weight: bold;text-align: center; font-size:20px;color:#fff}
#petPortal #px2{background:#181f2e}
#petPortal #px2 .col-sm-4 p{color:#fff;padding-top:15px}
#petPortal #px3{background-image:url(../img/bg_pet06.png)}
#petPortal #px4{background:#f41f3f}
#petPortal #px5{background-image:url(../img/bg_pet07.png)}
#petPortal #px6{background:#f8f9f9}
#petPortal .monitor{width:1010px;height:734px;background:url(../img/bg_monitor.png);margin:-22em auto 0}
#petPortal .monitor img {width:71%;padding-top:10.5%;margin:0 auto}

#ad #px1{height:3444px;background-image:url(../img/promotion.png)}

#publish #px1 ul.pic{display: inline-block;padding-top:40px}
#publish #px1 li{float: left;padding:0;margin:0 5px}
.pf-lst{border-top:1px solid #666;border-bottom:1px solid #eee}
.pf-lst>ul>li+li{border-top:1px solid #eee}
.pf-lst .frame{position: relative}
.pf-lst .frame{padding:1em 2em 1.4em}
.pf-lst .frame p{font-size:14px;}
.pf-lst .frame p span{margin-right:15px}
.pf-lst .frame p em{position: relative}
.pf-lst .frame p em:before{content:'';display: inline-block;position: absolute;top:10px;left:-9px;width:3px;height:3px;border-radius:50%;background:#999}
.pf-lst .frame h5{font-weight: 300; padding-bottom:20px;font-size:30px}
.pf-lst .frame .tag li{float:left;font-size: 12px;background: #eaedef;margin-right: 8px;padding:0px 10px 2px;border-radius: 4px;line-height:2}
.pf-lst .frame a{position: absolute;width:54px;height:54px;border:1px solid #ddd;border-radius:50%;top:50%;right:1.7em;margin-top:-27px;font-size:12px;text-align: center;color:#666}
.pf-lst .frame a span{position: absolute;top: 17%;left: 15px}
.pf-lst .frame a:hover{background:#f4f4f4}

.lst-drawing li{margin-bottom:2em}
.lst-drawing li>div{position: relative;overflow: hidden;width:98%;height:380px;background:#fff;border:1px solid #ebebeb;border-radius: 5px;box-shadow: 1px 1px 5px 1px rgba(0,0,0, .05)}
.lst-drawing li a{position: absolute;top:0;right:0;bottom:0;left:0}
.lst-drawing li:hover span>img{opacity: .85}
.lst-drawing span>img{width:100%;border-bottom:1px solid #f5f5f5}
.lst-drawing span+div{padding:.5em .7em}
.lst-drawing em{font-family: 'Lato';font-size:12px;color:#999;}
.lst-drawing p{padding-bottom:1em;font-size:18px;line-height: 1em}

.drawing .modal-body img{border-radius: 10px}
.drawing button.close{font-weight: 100}
#drawing04 .modal-dialog {width:400px}
#drawing04 .modal-body{overflow: hidden;border-radius: 10px; background:#fff;}
#drawing04 .modal-body p{font-size:16px;padding:1em 1em 1.3em}
#drawing04 .close{position: absolute;right:-60px}

@media screen and (max-width:1600px){
    /* Grid */
    .w1200{max-width:1000px;margin:0 auto}
    .w1022{max-width: 900px;margin:0 auto}
    .lst-drawing li>div{height:345px}
    #petPortal .monitor{width:822px;height:600px;background-size:100% auto}
    #pulmuone #px5{height:666px;padding:0 !important}
    #pulmuone #px6{padding:2em 0 3em !important}
}

@media screen and (min-width:1024px) and (max-width:1600px){
    /* Grid */
    .w1200, .w1022{width:800px;max-width:auto;margin:0 auto}
    .w860{max-width:700px;margin:0 auto}
}

@media screen and (max-width:1024px){
    /* Grid */
    .w1200, .w1022{width:800px;max-width:auto;margin:0 auto}
}